.jumbotron {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: top;
  align-items: center;
  min-height: 500px;
  padding-top: 400px;
}

#home.jumbotron {
   background-attachment: fixed;
  }

#dog.jumbotron {
  background-image: url('../images/dog.jpeg');
}

#cat.jumbotron {
  background-image: url('../images/cat.jpg');
}

#buzz {
  padding-bottom:75px;
}

#versus{
  border-top: 200px;
}

#mission {
  background: rgba(32, 35, 41, 0.9);
  color: #ddd;
  padding:50px;
}

#social{
  max-height:50px;
}

.input-group {
  margin: auto;
  width: 300px;
}

#brand {
  max-width: 20px;
}
