.jumbotron {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 900px;
  padding-top: 800px;
}
#buzz {
  padding-bottom:75px;
}

#versus{
  border-top: 200px;
}

#mission {
  background: rgba(32, 35, 41, 0.9);
  color: #ddd;
  padding:50px;
}

#social{
  max-height:75px;
}
